body{
    background-color: cadetblue;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: rgb(45, 44, 44);
}
div{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 700px;
    margin:auto;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.255);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.foreign{
    text-decoration: underline;
}
.american{
    font-style: italic;
}
#fav{
    background-color: rgba(95, 158, 160, 0.442);
    width: 205px;
}
p{
    text-align: right;
}